@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: LatoBold;
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: LatoLight;
  src: url(../fonts/Lato-Light.ttf);
}
@font-face {
  font-family: LatoLightItalic;
  src: url(../fonts/Lato-LightItalic.ttf);
}