{% include 'TandeemBundle:Base:Header.html.twig' %}
{% include 'TandeemBundle:Base:Dashboard.html.twig' %}

<body>
  <div class="container">
    {% block container %}

    {% endblock %}
  </div>
</body>
</html>
