<footer role="contentinfo" id="footeranchor">
    <form method="post">
        <p>Nous contacter :</p>
        <input type="text" placeholder="Nom" required><br>
        <input type="email" placeholder="E-mail" required><br>
        <textarea placeholder="Message"></textarea><br>
        <input type="submit" value="Envoyer">
    </form>
    <div class="brand">
        <img class="logofooter" src="{{ asset('assets/img/logos/logo.png') }}" alt="logo">
        <p>Copyright 2016 tous droits réservés</p>
    </div>
    <div class="networks">
        <p class="bold">Rejoignez-nous sur les réseaux sociaux :</p>
        <a href=""><img class="networksicon" src="{{ asset('assets/img/networks/instagram.png') }}" alt="instagram"></a>
        <a href=""><img class="networksicon" src="{{ asset('assets/img/networks/facebook.png') }}" alt="facebook"></a>
        <a href=""><img class="networksicon" src="{{ asset('assets/img/networks/twitter.png') }}" alt="twitter"></a>
    </div>
</footer>