<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tandeem</title>
    {% block javascript %}
    <script src="{{ asset('assets/jquery-2.2.3.min.js') }}"></script>
    <script src="{{ asset('assets/action.js') }}"></script>
    {% endblock %}
  </head>
